:root {
  --main-bg: #fffbea;
  --primary: #ff6900;
  --secondary: #fb2c36;
  --primary-dark: #f54a00;
  --secondary-dark: #e7000b;

  --text-main: #4a5565;
  --text-muted: #6a7282;
  --text-dark: #364153;

  --border-light: #ffedd4;

  --shadow-sm: 0 0.25rem 0.375rem -0.25rem rgb(0 0 0 / 0.1);
  --shadow-md: 0 0.625rem 0.9375rem -0.1875rem rgb(0 0 0 / 0.1);
  --shadow-lg: 0 1.25rem 1.5625rem -0.3125rem rgb(0 0 0 / 0.1);

  --radius-lg: 2rem;
  --radius-md: 0.625rem;
}

body {
  background-color: var(--main-bg);
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

figure {
  margin: 0;
}

.logo {
  width: 3rem;
  height: 3rem;
  background: linear-gradient(to bottom left, var(--primary), var(--secondary));
  box-shadow: var(--shadow-md), var(--shadow-sm);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-nav li a {
  color: var(--text-main);
  transition: 0.2s;
  font-size: 20px;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: var(--primary-dark);
}

.nav-link {
  background: transparent !important;
  color: var(--text-muted) !important;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  border-radius: 0 !important;
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--text-dark) !important;
}

.nav-link.active {
  color: var(--primary-dark) !important;
  border-bottom: 2px solid var(--primary-dark);
}

.main-box {
  min-height: 750px;
  max-height: auto;
  border: 1px solid var(--border-light);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-lg), var(--shadow-sm);
}

.avatar {
  width: 2.3125rem;
  height: 2.3125rem;
  border: 2px solid #ffb86a;
}

.img-prev {
  height: 100%;
  min-height: 350px;
  max-height: 750px;
  overflow: hidden;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}
.text-prev {
  height: 100%;
  min-height: 350px;
  max-height: auto;
}
.img-prev img {
  min-height: 350px;
  max-height: 750px;
  object-fit: cover;
  object-position: center;
}

.img-floting-data {
  width: 90%;
  background-color: #fffffff2;
  backdrop-filter: blur(8px);
  bottom: 15px;
}

.main-btn {
  width: 3rem;
  height: 3rem;
  color: var(--primary-dark) !important;
  background-color: var(--border-light);
  transition: 0.3s;
}

.main-btn:hover {
  background-color: #ffd7a8;
}

.random-btn {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  padding: 8px 16px;
  color: #fff !important;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--shadow-md), var(--shadow-sm);
}

.random-btn:hover {
  background: linear-gradient(
    to right,
    var(--primary-dark),
    var(--secondary-dark)
  );
  box-shadow: var(--shadow-lg), var(--shadow-sm);
  transform: scale(1.05);
}

.badge-1,
.badge-2 {
  padding: 4px 12px;
}
.badge-1 {
  background-color: #dbfce7;
  color: #008236;
  font-size: 12px;
  font-weight: 600;
}

.badge-2 {
  background-color: #dbeafe;
  color: #1447e6;
  font-size: 12px;
  font-weight: 600;
}

#instructions-container,
#ingredients-container,
#nutrition-container,
#tips-container {
  height: 350px;
  overflow-y: auto;
}

.bg-ingredients {
  background-color: #fff9ec;
}

.ingredients-circle {
  background-color: var(--primary);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions-circle {
  background-color: var(--primary);
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips-box {
  background-color: #fffbeb;
  border-radius: var(--radius-md);
  border-left: 5px solid #ffb900;
}

.tips-box i {
  color: #e17100;
}

.nutrition-box {
  background-color: #f9fafb !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nutrition-box > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nutrition-box .icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
}

.calories {
  background: #ffedd4;
  color: var(--primary-dark);
}
.protein {
  background: #dbeafe;
  color: #155dfc;
}
.carbs {
  background: #fef9c2;
  color: #d08700;
}
.fat {
  background: #ffe2e2;
  color: #e7000b;
}
.fiber {
  background: #dbfce7;
  color: #00a63e;
}
.sodium {
  background: #fce7f3;
  color: #e60076;
}

.prepTime {
  color: var(--primary);
}
.cookTime {
  color: var(--secondary);
}
.servings {
  color: #2b7fff;
}

.rate-badge {
  top: 24px;
  left: 24px;
  padding: 8px 16px;
}

.overtime {
  background-color: #fef2f2;
  border-left: 5px solid var(--secondary);
}

.overtime i {
  color: var(--secondary);
}

.overtime h3 {
  color: #9f0712;
}

.overtime p {
  color: var(--secondary-dark);
}
